<div th:fragment="menu" class="container text-center">
    <h2>Moin<span th:if="${authenticatedUser != null}" th:text="' ' + ${authenticatedUser?.username}"></span>!</h2>
    <br />
    <div class="container text-center">
        <div class="row">
            <div class="col">

            </div>
            <div class="col-5">
                <a href="/" typeof="button" class="btn btn-outline-primary" type="button">Home</a>
                <a href="/appKey/administration" typeof="button" class="btn btn-outline-primary" type="button">AppKeys</a>
                <a href="/user/administration" typeof="button" class="btn btn-outline-primary" type="button">Users</a>
                <a type="button" class="btn btn-outline-danger" href="/logout"><span th:text="${authenticatedUser?.username}"/> ausloggen</a>
            </div>
            <div class="col">

            </div>
        </div>
    </div>
</div>