<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
    <head th:replace="fragments/header :: head" />
    <body style="margin: 0; padding:0;">

    <div class="modal fade" id="userNewModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Neuen User hinzufügen</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col">
                            <label for="newUsernameInput" class="col-form-label">Username</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <input type="text" class="form-control" id="newUsernameInput" name="newUsernameInput" placeholder="Username" autocomplete="off" />
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">abbrechen</button>
                    <button type="button" class="btn btn-primary" onclick="createNewUser()">User anlegen</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="userChangeModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">User <span id="userChangeTitlePlaceholder"></span> bearbeiten</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col">
                            <label for="newPasswordInput" class="col-form-label">Neues Passwort</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <input type="password" class="form-control" id="newPasswordInput" name="newPasswordInput" placeholder="neues Passwort" autocomplete="off"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label for="confirmNewPasswordInput" class="col-form-label">Bestätigung</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <input type="password" class="form-control" id="confirmNewPasswordInput" name="confirmNewPasswordInput" placeholder="neues Passwort bestätigen" autocomplete="off"/>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">abbrechen</button>
                    <button type="button" class="btn btn-primary" id="userChangeSaveButton">Änderungen speichern</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="userDeleteModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Wirklich User löschen?</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Bist du dir sicher, dass du den User <span class="badge bg-secondary" id="usernamePlaceholder"></span> löschen möchtest?
                    <br />Diese Aktion kann nicht rückgängig gemacht werden!
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">abbrechen</button>
                    <button type="button" class="btn btn-danger" id="userDeleteButton">löschen</button>
                </div>
            </div>
        </div>
    </div>

        <table style="border: 0; position: absolute; top: 0; bottom: 0; left: 0; right: 0; height: 100%; width: 100%; cellspacing: 0; cellpadding: 0;">
            <tr>
                <td style="width: 100%; height: 100%; text-align: center; vertical-align: middle;">
                    <div th:replace="fragments/menu :: menu" />
                    <br />
                    <div class="alert alert-success" id="statusMessage"></div>
                    <hr />
                    <div class="container text-center">
                        <div class="row">
                            <div class="col">

                            </div>
                            <div class="col-5">
                                <div class="container">
                                    <div class="row">
                                        <div class="col d-flex justify-content-end">
                                            <a type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#userNewModal">+</a>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <table class="table table-hover">
                                                <thead>
                                                    <tr>
                                                        <th scope="col">Name</th>
                                                        <th scope="col"></th>
                                                        <th scope="col" colspan="2">Aktion</th>
                                                    </tr>
                                                </thead>
                                                <tbody class="table-group-divider">
                                                    <tr th:each="user : ${users}">
                                                        <td class="align-middle">
                                                            <span th:text="${user.username}"></span>
                                                        </td>
                                                        <td></td>
                                                        <td>
                                                            <a type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#userChangeModal" th:data-bs-username="${user.username}">Bearbeiten</a>
                                                        </td>
                                                        <td>
                                                            <a type="button" class="btn btn-outline-danger" th:if="${authenticatedUser?.username != user.username}" data-bs-toggle="modal" data-bs-target="#userDeleteModal" th:data-bs-username="${user.username}">löschen</a>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col">

                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        </table>

        <div th:replace="fragments/footer :: footer" />
        <script th:src="@{/js/userAdministration.js}"></script>
    </body>
</html>